.vscode/**
.vscode-test/**
client/src/**
client/tsconfig.json
node_modules/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
*.vsix
scripts/**

# Include bundled assets (don't ignore them)
!server/**
!sysml.library/**
