[submodule "pipelines"]
	path = pipelines
	url = https://github.com/jade-codes/syster-pipelines.git
[submodule "core"]
	path = core
	url = https://github.com/jade-codes/syster-base.git
[submodule "cli"]
	path = cli
	url = https://github.com/jade-codes/syster-cli.git
[submodule "lsp/server"]
	path = lsp/server
	url = https://github.com/jade-codes/syster-lsp.git
[submodule "lsp/vscode"]
	path = lsp/vscode
	url = https://github.com/jade-codes/syster-vscode-lsp.git
[submodule "modeller/core"]
	path = modeller/core
	url = https://github.com/jade-codes/syster-diagram-core.git
[submodule "modeller/ui"]
	path = modeller/ui
	url = https://github.com/jade-codes/syster-diagram-ui.git
[submodule "modeller/vscode"]
	path = modeller/vscode
	url = https://github.com/jade-codes/syster-vscode-modeller.git
[submodule "viewer/vscode"]
	path = viewer/vscode
	url = https://github.com/jade-codes/syster-vscode-viewer.git
